{% extends "base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<!-- Section-->
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow" style="width: 22rem;">
          {% for product in products %}
          <!-- Sale badge-->
          <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
            Sale
          </div>
          <!-- Product image-->
          <div class="card-body bordered">
            <a href="{{ product.get_absolute_url }}">
              <img class="card-image img-fluid bordered"
                src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" />
            </a>          
          </div>
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder"><a class="text-dark text-decoration-none"
                  href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>
              <!-- Product price-->
              {% comment %} <span class="text-muted text-decoration-line-through">{{product.price }}</span> {% endcomment %}
              {{ product.price }}$
            </div>
            {{ product.description|slice:55 }}...
          </div>
          <!-- Product actions-->
          <div class="card-footer p-8 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a href="{{ product.get_absolute_url }}">
                <button type="button" class="btn btn-outline-success btn-sm mr-3" value="Add to card">View</button>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}