{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}My shop{% endblock %}</title> 
    {% comment %} Google icons {% endcomment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap icons-->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "css/base.css" %}" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-color">
        <div class="container px-4 px-lg-3">
            <a class="navbar-brand" href="{% url 'shop:product_list' %}">BookStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mr-auto">
                    <li class="nav-item active"><a class="nav-link" aria-current="page" href="{% url 'shop:product_list' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop:about' %}">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li {% if not category %}class="selected" {% endif %}><a class="dropdown-item"
                                    href="{% url "shop:product_list" %}">All Products</a></li>
                            {% for c in categories %}
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                                <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a class="btn btn-warning" href="{% url "cart:cart_detail" %}" role="button">
                        <i class="bi-cart-fill me-1"></i>
                        {% with total_items=cart|length %}
                        {% if total_items > 0 %}
                            Cart:
                            {{ total_items }} item{{ total_items|pluralize }},
                            ${{ cart.get_total_price }}
                
                        {% else %}
                        Cart is empty
                        {% endif %}
                        {% endwith %}
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>        
                    </a>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="header-img">
        {% comment %} <div class=>
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>{% endcomment %}
    </header> 
    {% block content %}
    {% endblock %}
    <!-- Footer-->
    <footer class="relative-bottom mt-5 py-5 navbar-color">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   
    
</body>

</html>